.homepage-div {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f0;
}

.homepage-content {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.homepage-posts {
  width: 45%;
  margin: 0rem 0.5rem;
}

.news-heading {
  padding: 0.2rem 1.2rem;
  font-weight: 600;
}

.homepage-news {
  width: 20%;
  border: 1px solid grey;
  height: 35vh;
  border-radius: 1rem;
  padding: 0.5rem 0rem;
  background-color: var(--primary-color);
}

.homepage-news-list {
  width: 90%;
  padding-inline-start: 1.3rem;
  text-align: center;
}
