* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #116466;
  --news-background: #2c3531;
  --text-color: #ffffff;
}

.homepage-div {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.homepage-content {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.homepage-posts {
  width: 45%;
  margin: 0rem 0.5rem;
}

.news-heading {
  padding: 0.2rem 1.2rem;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .homepage-posts {
    margin-top: 15rem;
    width: 60%;
    margin: 1rem 1rem;
  }
  .homepage-content {
    justify-content: flex-start;
  }

  .sidebar {
    display: none;
  }
}
