:root {
  --primary-color: #2c3531;
  --secondary-color: #2a2c2e;
  --background-color: #f5f5f0;
  --text-color: #ffffff;
  --border-color: #d9b08c;
}

.create-post {
  border: 1px solid #ffcb9a;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--primary-color);
  margin-top: 1rem;
}

.createPost-userImage {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  border-radius: 50%;
  margin: 0.5rem 0.5rem;
}

.createPost-input {
  width: 100%;
  border-radius: 2rem;
  padding: 0.7rem 1rem;
  margin: 0.3rem 0.6rem;
  background-color: var(--background-color);
  border: none;
  outline: none;
  color: var(--text-color);
}

.createPost-input::placeholder {
  color: var(--text-color);
}

.create-idea-popup {
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: fixed;
  top: 25%;
  left: 26%;
  width: 40%;

  background-color: var(--primary-color);
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  color: var(--border-color);
}

.createIdeaform {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.idea-title {
  padding: 0.4rem 0.5rem;
  margin: 0.3rem 0.3rem;
  border-radius: 1rem;
  outline: none;
  border: 1px solid var(--border-color);
}

.idea-desc {
  height: 5rem;
  padding: 1rem 0.5rem;
  margin: 0.3rem 0.3rem;
  border-radius: 1rem;
  outline: none;
  border: 1px solid var(--border-color);
}

.ideas-add-tags {
  display: flex;
  flex-direction: row;
}

.ideas-tag-list {
  margin-block-start: 0em;
  margin-block-end: 0em;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.added-tags {
  margin: 0.4rem;
}
.remove-tag-btn {
  border: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  margin: 0.2rem;
}

.idea-tag {
  padding: 0.1rem 0.2rem;
  margin: 0.1rem 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
}

.create-idea-heading {
  font-size: large;
  font-weight: 600;
  width: 100%;
}
.close-idea-popup-btn {
  font-size: large;
  border: none;
  background-color: var(--primary-color);
  float: right;
  color: var(--text-color);
}

.create-idea-btn {
  font-weight: 600;
  float: right;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid var(--border-color);
  background-color: var(--secondary-color);
  color: var(--text-color);
  margin: 0.5rem;
}

.disabled {
  color: grey;
}

@media screen and (max-width: 767px) {
  .create-idea-popup {
    top: 25%;
    left: 10%;
    width: 80%;
  }
}
