:root {
  --nav-background: #2c3531;
  --text-color: #ffffff;
  --nav-color: #116466;
}

.navigation {
  width: 100%;
  border-bottom-right-radius: 1rem;
  border: 1px solid var(--nav-color);
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: var(--nav-background);
  display: flex;
  flex-direction: row;
}
.hamburger {
  margin-left: 0.5rem;
  cursor: pointer;
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  color: white;
  margin: 6px 0;
  transition: 0.4s;
  background-color: var(--nav-color);
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.nav-heading {
  width: 20%;
  font-size: 1.4rem;
  margin: 0.8rem;
  padding: 0rem 1rem;
  color: var(--text-color);
  font-style: italic;
}

.nav-header-link {
  text-decoration: none;
  color: var(--text-color);
}

.logout-div {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.nav-userName {
  font-size: 1rem;
  margin: 0.8rem;
  padding: 0rem 0rem;
  color: var(--text-color);
}

.logout-btn {
  background-color: var(--nav-background);
  outline: none;
  border: none;
  font-size: 1rem;
  margin: 0.8rem;
  padding: 0rem 0rem;
  color: var(--text-color);
}

.search-user {
  float: right;
  width: 80%;
  display: flex;
  justify-content: center;
}

.search-user-input {
  width: 50%;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  margin: 0rem 1rem;
  outline: none;
}

@media screen and (max-width: 767px) {
  .hamburger {
    display: initial;
  }
  .nav-heading {
    font-size: 1.1rem;
  }
  .nav-userName {
    font-size: 0.8rem;
  }
  .logout-btn {
    font-size: 0.7rem;
  }
  .navbar .sidebar {
    display: flex;
    position: fixed;
    left: 0%;
    top: 6.4%;
    width: 35%;
    justify-content: center;
  }
  .navbar .sidebar .sidebar-userName {
    font-size: small;
  }
}
