.homepage-news {
  position: fixed;
  right: 7%;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-wrap: break-word;
  width: 25%;
  border: 1px solid #ffcb9a;
  height: 85vh;
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 0.5rem 0rem;
  background-color: var(--news-background);
  color: var(--text-color);
  font-size: 85%;
}

.homepage-news-list {
  width: 80%;
  margin: 0.3rem;
  padding-left: 0.5rem;
}

.homepage-news-list-item {
  margin: 0.5rem 0.3rem;
}
@media screen and (max-width: 767px) {
  html {
    background-color: var(--background-color);
  }
  .homepage-news {
    display: none;
    top: 14%;
    font-size: 55%;
    position: fixed;
    left: 68%;
    width: 30%;
  }
}
